{% extends "base.html" %} 

{% block content %} 

<ol class="breadcrumb my-4">
    <li class="breadcrumb-item active">EDIT SEQUENCE</li>
</ol>
{% if error %}
  <p>Sequence already exist</p> 
{% endif %}
<!--EDIT SEQUENCE details as form-->
{% if request.session.is_superuser %}
  <form method="POST" action="{% url 'sequence_edit' pk=sequence.id %}"class="post-form">
  	{% csrf_token %}
    <div class="form-group">Neighbor 1: 
        <select id="neighbor_1" name="neighbor_1">
            {% for neighbor in neighbors %}
                {% if sequence.neighbor_1_id == neighbor.id %}
                    <option selected value="{{ neighbor.id }}">{{ neighbor.s1_building_name}}-{{neighbor.route_name}}-{{neighbor.s2_building_name}}</option>
                {% else %}
                    <option value="{{ neighbor.id }}">{{ neighbor.s1_building_name}}-{{neighbor.route_name}}-{{neighbor.s2_building_name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">Neighbor 2: 
        <select id="neighbor_2" name="neighbor_2">
            {% for neighbor in neighbors %}
                {% if sequence.neighbor_2_id == neighbor.id %}
                    <option selected value="{{ neighbor.id }}">{{ neighbor.s1_building_name}}-{{neighbor.route_name}}-{{neighbor.s2_building_name}}</option>
                {% else %}
                    <option value="{{ neighbor.id }}">{{ neighbor.s1_building_name}}-{{neighbor.route_name}}-{{neighbor.s2_building_name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="save btn btn-default">Save</button>
  </form>

{% else %}
  <p>You are not Administrator.</p> 
{% endif %}
{% endblock %}



