{% extends "base.html" %} 

{% block content %} 

<ol class="breadcrumb my-4">
    <li class="breadcrumb-item active">PASSWORD CHANGE</li>
</ol>

<!--EDIT USER password as form-->
{% if request.session.is_authenticated %}
  <form method="POST" action="{% url 'password_change' %}"class="post-form">
    {% csrf_token %}
        <label>Current Password</label>
        <input type="password" name="current_password" class="form-control"></input>
        {% if alert1 %}
          <p>Wrong password!</p>
        {% endif %}
        <label>New Password</label>
        <input type="password" name="new_password1"  class="form-control"></input>
        <label>Confirm New Password</label>
        <input type="password" name="new_password2" class="form-control"></input>
        {% if alert2 %}
          <p>Passwords do not match!</p>
        {% endif %}
      <button type="submit" class="btn btn-success">Save</button>
  </form>
  
{% else %}
  <p>You did not logged in.</p> 
{% endif %}
{% endblock %}
